system {
    root-authentication {
        encrypted-password "$6$lB5c6$Zeud8c6IhCTE6hnZxXBl3ZMZTC2hOx9pxxYUWTHKW1oC32SATWLMH2EXarxWS5k685qMggUfFur1lq.o4p4cg1"; ## SECRET-DATA
    }
}
routing-options {
    autonomous-system {{ $.ent_asn }};
}

policy-options {
{{- range $name, $link := .clab_links }}
    {{- if eq (index $.clab_nodes $link.clab_far.clab_node).type "pe" }}
    policy-statement PL-eBGP-{{ $.core_asn }}-{{ $link.clab_far.clab_node }}-OUT {
        term BGP {
            then {
                metric {{ $link.bgp_metric }};
            }
        }
    }
    {{- end }}
{{- end }}
}

protocols {
    bgp {
        group eBGP-{{ $.core_asn }} {
            family inet {
                unicast;
            }
            peer-as {{ $.core_asn }};
            {{- range $name, $link := .clab_links }}
                {{- if eq (index $.clab_nodes $link.clab_far.clab_node).type "pe" }}
            neighbor {{ ip $link.clab_far.clab_link_ip }} {
                export PL-eBGP-{{ $.core_asn }}-{{ $link.clab_far.clab_node }}-OUT;
            }
                {{- end }}
            {{- end }}
        }
    }
}