system {
    root-authentication {
        encrypted-password "$6$lB5c6$Zeud8c6IhCTE6hnZxXBl3ZMZTC2hOx9pxxYUWTHKW1oC32SATWLMH2EXarxWS5k685qMggUfFur1lq.o4p4cg1"; ## SECRET-DATA
    }
}
interfaces {
    lo0 {
        unit 0 {
            family iso {
                address {{ .iso_addr }};
            }
        }
    }
}
protocols {
    isis {
        interface lo0.0;
{{- range $name, $link := .clab_links }}
        interface {{ $link.port }};
{{- end }}
    }
}